<!--simpan dengan nama contohselector.html-->
<!DOCTYPE html>
<html>
<head> <title>cssbackground properties</title> 
<style>
body{ background-color:yellow;}
#header{ background-color:orange; front-sixe:20px; }
.isi{ text-indent:2cm; font-size:14px; color: red; }
h1,p{ color:blue; text-align:center;}
p.hijau{ color:green; letter-spacing:12px; }
</style>
</head>
<body>
<h1 id='header'>Selamat Datang</h1>
<h2> Di Website Kami</h2>
<p class='hijau'>www.websitesaya.com</p>
<h3 class='isi'> website ini adalah forum diskusi mahasiswa.
website ini adalah forum diskusi mahasiswa.
website ini adalah forum diskusi mahasiswa.</h3>
<p> selamat berdiskusi</p>
</body>
</html>